# Overview

파이썬의 기본 데이터 타입 : booleans, integers, floats, strings

자료구조 : 기본 데이터 타입을 잘 활용 가능한 형태로 만드는 것 

- 자료 구조가 중요한 이유 : 자료 구조를 어떻게 만드는지에 따라 프로그램의 성능과 복잡성이 갈린다.

- 콘서트나 스포츠 티켓 예매시 사람이 한번에 몰리는데 어떻게 처리할것인가?

## Sequence와 Collections

* Collections : 여러개의 요소를 갖는 데이터 타입 또는 자료구조

  * 종류 : list, set, tuple, dict

* Sequence : 순서가 존재하는 데이터 타입

* 문자열은 우리가 처음 접하는 Python Sequence이다. 

  * 인덱스로 접근 가능
  
  * flat sequence, container sequence로 구분
  
    * flat : string, byte 등과 같이 데이터 형이 같은 형태
  
    * container : 객체의 참조값이 들어갈수 있다 (tuple, list등)

파이썬에서 제공하는 시퀀스 : tuple과 list

# Tuple

- 튜플이라고 읽고, 튜플은 immutable(불변)이다.

- 값을 중간에 추가하거나 뺄수 없음

  - 자바에서는 record 타입이 비슷한 역할을 한다

## Create with Commas and ()

- 생성법이 많은데, 괄호와 쉼표를 같이 쓰는 형태로 쓰는게 명확해서 추천

In [5]:
empty_tuple = ()
print(f"{empty_tuple = }, {type(empty_tuple) = }")

one_marx = 'Groucho', 'Chico' # 이 방법은 생성만 가능, 함수의 인수로 넘겨줄수 없음

print(f"{one_marx = }, {type(one_marx) = }")
print(f"{'Groucho',}, {type('Groucho',) = }")

# 추천하는 생성법
one_marx = ('Groucho',) 
print(f"{one_marx = }, {type(one_marx) = }")
one_marx = (1,)
print(f"{one_marx = }, {type(one_marx) = }")

# 쉽표 없이 괄호만 쓸 경우, 문자열로 인식
one_marx = ('Groucho')
print(f"{one_marx = }, {type(one_marx) = }")

empty_tuple = (), type(empty_tuple) = <class 'tuple'>
one_marx = ('Groucho', 'Chico'), type(one_marx) = <class 'tuple'>
('Groucho',), type('Groucho',) = <class 'str'>
one_marx = ('Groucho',), type(one_marx) = <class 'tuple'>
one_marx = (1,), type(one_marx) = <class 'tuple'>
one_marx = 'Groucho', type(one_marx) = <class 'str'>

unpacking : 튜플로 한 번에 여러 변수 할당 가능

In [7]:
lax_coordinates = (33.9425, -118.408056) # LA 국제 공항의 위도와 경도
latitude, longitude = lax_coordinates # 튜플 언패킹
print(f"{latitude = }, {longitude = }")

marx_tuple = ('Groucho', 'Chico', 'Harpo')
a, b, c = marx_tuple
print(f"{a = }, {b = }, {c = }")

# 이런 튜플의 성질을 이용해서 변수의 값 바꾸는것이 가능
x = 3
y = 10
print(f"{x = }, {y = }")
y, x = x, y # 대입연산자 기준으로 오른쪽이 튜플이 된다. 튜플이 언패킹 되면서 변수에 값을 swap 하는 효과
print(f"{x = }, {y = }")

y, x = (x, y,)

latitude = 33.9425, longitude = -118.408056
a = 'Groucho', b = 'Chico', c = 'Harpo'
x = 3, y = 10
x = 10, y = 3

## Create with tuple()

- 다른 객체(sequence)를 tuple로 만들어준다

In [8]:
marx_list = ['Groucho', 'Chico', 'Harpo']
a = tuple(marx_list) # 리스트를 튜플로 변환
print(f"{type(a) = }, {type(marx_list) = }")

# 문자열
str1 = 'Groucho'
print(tuple(str1))

type(a) = <class 'tuple'>, type(marx_list) = <class 'list'>
('G', 'r', 'o', 'u', 'c', 'h', 'o')

## Combine Tuples by Using `+`

```python
print(('Groucho',) + ('Chico', 'Harpo'))
# 결과 : ('Groucho', 'Chico', 'Harpo')
```

## Duplicate Items with `*`
```python
print(('yada',) * 3)
# 결과 : ('yada', 'yada', 'yada')
```

In [9]:
print(('Groucho',) + ('Chico', 'Harpo'))

print(('yada',) * 3)

('Groucho', 'Chico', 'Harpo')
('yada', 'yada', 'yada')

## Compare Tuples

- 두 시퀀스 사이에 같지 않은 값이 처음 나오는 값으로 비교가 정해진다.

``` text
When two sequences of the same type are compared to check if one is greater than or less than the other, 
the first non-equal value determines the outcome
```

- [참고자료](https://realpython.com/python-sequences/#comparing-values-with-sequences)

In [11]:
a = (7, 2)
b = (7, 2, 9)
print(a == b) # False
print(a <= b) # True
print(a < b)  # True

a = (2, 7, 9) 
b = (9, 7, 2)
print(a == b) #  False
print(a <= b) # True
print(a < b)  # True

a = (2, 9,)
b = (2, 7, 2)
print(a == b)  # False
print(a <= b)  # False
print(a < b)   # False

False
True
True
False
True
True
False
False
False

## Iterate with `for` and `in`

- for문을 이용해서 순회한다. 

- while 문보다는 for문의 사용비율이 더 많은듯

In [12]:
words = ('fresh','out', 'of', 'ideas')
for word in words:
	print(word)

word = 'thud'
for letter in word:
	print(letter)

fresh
out
of
ideas
t
h
u
d

## Modify a Tuple

- 튜플은 불변(immutable) 객체

In [17]:
t1 = ('Fee', 'Fie', 'Foe')
print(f"{t1[0] = }")
t1[0] = "q" # 값을 변경할수 없다. TypeError: 'tuple' object does not support item assignment

t1[0] = 'Fee'

TypeError: 'tuple' object does not support item assignment

In [19]:
# 튜플을 합칠때 새로운 튜플을 생성한다.
t1 = ('Fee', 'Fie', 'Foe')
t2 = ('Flop', )
print(f"{t1 + t2 = }, {t1 = }, {t2 = }")
print(f"{id(t1) = }, {id(t2) = }")

# t1 객체가 변경된것이 아니라. t1이 가르키는 객체가 변경된것이다.
t1 += t2
print(f"{t1 = }, {t2 = }")
print(f"{id(t1) = }, {id(t2) = }")

t1 + t2 = ('Fee', 'Fie', 'Foe', 'Flop'), t1 = ('Fee', 'Fie', 'Foe'), t2 = ('Flop',)
id(t1) = 4373951104, id(t2) = 4369743776
t1 = ('Fee', 'Fie', 'Foe', 'Flop'), t2 = ('Flop',)
id(t1) = 4374279760, id(t2) = 4369743776

# Lists

- 데이터를 순차적으로 파악하는 유용

- 내용의 순서 변경 가능, 새로운 요소의 추가, 삭제 등 튜플보다 많은 기능을

## Create with []

생성할때 대괄호를 이용한다

- first_name은 리스트 값이 고유하지 않아도 됨을 보여준다

- randomness 여러 객체가 들어가도 됨을 보여준다

In [21]:
empty_list = [ ]
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = [('Graham', 'John'), 'Terry', 'Terry', 'Michael'] 
leap_years = [2000, 2004, 2008]
randomness = ["Punxsatawney", {"groundhog": "Phil"}, "Feb. 2"]

## Create or Convert with list()

- list 함수로 빈 리스트를 만들수 있다

- list 안에 sequence를 넣어주면 리스트의 요소로 변경한다

In [22]:
another_empty_list = list()
print(another_empty_list)

print(list('cat'))

a_tuple = ('ready', 'fire', 'aim')
print(list(a_tuple))

[]
['c', 'a', 't']
['ready', 'fire', 'aim']

## Create from a String with split()

- split함수는 문자열을 구분자 단위로 분할해서 리스트로 반환한다

In [23]:
talk_like_a_pirate_day = '9/19/2019'
print(talk_like_a_pirate_day.split('/'))

splitme = 'a/b//c/d///e'
print(splitme.split('/'))

splitme = 'a/b//c/d///e'
print(splitme.split('//'))

['9', '19', '2019']
['a', 'b', '', 'c', 'd', '', '', 'e']
['a/b', 'c/d', '/e']

## Get an Item by [ *offset* ]

- offset을 지정해서 원하는 위치의 값을 조회할수 있다.

- offest은 0부터 시작한다

- 전체 길이보다 큰 offset을 지정하면 list index out of range 에러 발생

- 튜플도 같은 기능을 갖고 있다.

In [25]:
marxes = ['Groucho', 'Chico', 'Harpo']
print(f"""
{marxes[0] = }
{marxes[1] = }
{marxes[2] = }
{marxes[-1] = }
{marxes[-2] = }
{marxes[-3] = }
""")

# marxes[5] # list index out of range

tup_marxes = tuple(marxes)
print(f"""
{type(tup_marxes) = }
{tup_marxes[0] = }
{tup_marxes[1] = }
{tup_marxes[2] = }
{tup_marxes[-1] = }
{tup_marxes[-2] = }
{tup_marxes[-3] = }
""")

marxes[0] = 'Groucho'
marxes[1] = 'Chico'
marxes[2] = 'Harpo'
marxes[-1] = 'Harpo'
marxes[-2] = 'Chico'
marxes[-3] = 'Groucho'


type(tup_marxes) = <class 'tuple'>
tup_marxes[0] = 'Groucho'
tup_marxes[1] = 'Chico'
tup_marxes[2] = 'Harpo'
tup_marxes[-1] = 'Harpo'
tup_marxes[-2] = 'Chico'
tup_marxes[-3] = 'Groucho'

In [26]:
marxes[5]

IndexError: list index out of range

## Get Items with a Slice

- 5장에서 본 문자열처럼 슬라이스를 사용해서 SubSequence를 추출할수 있다

- 새로운 객체를 생성해준다

- 슬라이스로 접근시 잘못된 범위를 접근할 경우 예외를 발생하지 않는다.

- 튜플도 가능하다

In [14]:
# 슬라이스 사용하기

marxes = ['Groucho', 'Chico', 'Harpo']
print(marxes[0:2])
print(marxes[::2])
print(marxes[::-2])
tup_marxes = tuple(marxes)
print(tup_marxes[0:2])
print(tup_marxes[::2])
print(tup_marxes[::-2])

['Groucho', 'Chico']
['Groucho', 'Harpo']
['Harpo', 'Groucho']
('Groucho', 'Chico')
('Groucho', 'Harpo')
('Harpo', 'Groucho')

In [13]:
# 슬라이스로 리스트를 역순으로 다시 정렬하는 방법
reversed_marxes = marxes[::-1] # 새로운 객체가 생성되고, 그 객체를 reversed_marxes가 참조한다.
print(f"{id(marxes) = }, {marxes = }, {reversed_marxes = }, {id(reversed_marxes) = }")

# 리스트의 reverse 메서드를 사용하는 방법
reversed_marxes = marxes.reverse() # marxes 객체가 변경된다. 반환값은 None이다.
print(f"{id(marxes) = }, {marxes = }, {reversed_marxes = }, {id(reversed_marxes) = }")
print(marxes) # marxes객체가 변경된다.

id(marxes) = 4372657472, marxes = ['Harpo', 'Chico', 'Groucho'], reversed_marxes = ['Groucho', 'Chico', 'Harpo'], id(reversed_marxes) = 4378878912
id(marxes) = 4372657472, marxes = ['Groucho', 'Chico', 'Harpo'], reversed_marxes = None, id(reversed_marxes) = 4321333552
['Groucho', 'Chico', 'Harpo']

## Add an Item to the End with `append()`

- 리스트의 마지막에 항목(객체)을 추가한다.

- 튜플은 동작하지 않는다.

In [29]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.append('Zeppo')
print(marxes)

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [30]:
tup_marxes = tuple(marxes)
tup_marxes.append('Zeppo')

AttributeError: 'tuple' object has no attribute 'append'

## Add an Item by Offset with `insert()`

- 리스트의 원하는 위치(offset)에 항목(객체)을 추가한다

- 리스트의 범위를 넘어가는 offset이 지정되면, 리스트의 끝에 추가된다.

In [17]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.insert(0, 'Gummo')
print(marxes)
marxes.insert(2, 'Gummo')
print(marxes)
marxes.insert(10, 'Zeppo')
print(marxes)

['Gummo', 'Groucho', 'Chico', 'Harpo']
['Gummo', 'Groucho', 'Gummo', 'Chico', 'Harpo']
['Gummo', 'Groucho', 'Gummo', 'Chico', 'Harpo', 'Zeppo']

## Duplicate All Items with `*`

```python
print(["blah"] * 3)
# 결과 : ['blah', 'blah', 'blah']
```

## Combine Lists by Using extend() or `+`

extend함수는 객체를 변경한다

`+` 는 새로운 객체를 생성한다

`+=`는 객체를 변경한다

In [34]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
print(f"{id(marxes) = }, {marxes = }, {others = }")
marxes.extend(others)
print(f"{id(marxes) = }, {marxes = }, {others = }")

id(marxes) = 4374340224, marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo'], others = ['Gummo', 'Karl']
id(marxes) = 4374340224, marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl'], others = ['Gummo', 'Karl']

In [35]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
print(f"{id(marxes) = }, {marxes = }, {id(others) = }, {others = }")
marxes = marxes + others # 새로운 리스트 객체가 생성되고 marxes는 새로운 객체를 가르킨다
print(f"{id(marxes) = }, {marxes = }, {id(others) = }, {others = }")
marxes += others # marxes가 가르키는 객체가 변경된다.
print(f"{id(marxes) = }, {marxes = }, {id(others) = }, {others = }")

id(marxes) = 4374336640, marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo'], id(others) = 4374333440, others = ['Gummo', 'Karl']
id(marxes) = 4374062144, marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl'], id(others) = 4374333440, others = ['Gummo', 'Karl']
id(marxes) = 4374062144, marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl', 'Gummo', 'Karl'], id(others) = 4374333440, others = ['Gummo', 'Karl']

In [36]:
# append는 객체를 추가한다. 그래서 배열을 추가하면 배열 자체가 마지막 원소로 추가된다.
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.append(others)
print(marxes)

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

## Change an Item by `[ *offset* ]`

- 문자열은 불변(immutable) 객체이기 때문에 값을 변경할수 없다.

- 튜플도 불변(immutable) 객체이기 때문에 값을 변경할수 없다.

- 리스트는 가변 객체이므로 항목 수, 항목 내용을 바꿀 수 있다

In [39]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[2] = 'Wanda'
print(marxes)

['Groucho', 'Chico', 'Wanda']

## **Change Items with a Slice**

- 슬라이스를 이용해서 값 변경

- 값을 넣어줄때 꼭 리스트가 아니어도 된다. python iterable이면 된다.

In [40]:
numbers = [1, 2, 3, 4]
numbers[1:3] = [8, 9]
print(numbers)

# 항목의 수가 안맞아도 된다.
numbers = [1, 2, 3, 4]
numbers[1:3] = [7, 8, 9]
print(numbers)

numbers = [1, 2, 3, 4]
numbers[1:3] = []
print(numbers)

[1, 8, 9, 4]
[1, 7, 8, 9, 4]
[1, 4]

In [43]:
# 이터러블 추가
numbers = [1, 2, 3, 4]
numbers[1:3] = (98, 99, 100)
print(numbers)

numbers[1:3] = 'what?'
print(numbers)

# numbers[1:3] = 1 # TypeError: can only assign an iterable
numbers[1:3] = (1,)
print(numbers)

[1, 98, 99, 100, 4]
[1, 'w', 'h', 'a', 't', '?', 100, 4]
[1, 1, 'a', 't', '?', 100, 4]

## Delete an Item by Offset with `del`

- del은 파이썬 키워드이다.
  
- 할당 연산자 = 의 반대 역할

In [44]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']
print(marxes[-1])

del marxes[-1]
print(marxes)

Karl
['Groucho', 'Chico', 'Harpo', 'Gummo']

## Get an Item by Offset and Delete It with `pop()`

- 리스트에서 항목을 가져오고, 삭제한다

- pop(offset) : offset을 인수로 호출했다면, 해당 offset의 인수가 반환된다.

- offset을 호출하지 않았다면 기본값은 -1 이다

In [45]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
print(marxes.pop()) # marxes.pop(-1), pop(-1)은 리스트의 끝(tail)을 반환
print(marxes)
print(marxes.pop(0)) # pop(0)는 리스트의 머리(head)를 반환
print(marxes)

Zeppo
['Groucho', 'Chico', 'Harpo']
Groucho
['Chico', 'Harpo']

- append() 함수와 함께 스택(stack)과 큐(queue)를 구현할수 있다

  -  queue : First In First Out 방식의 자료구조

![queue](./images/queue.png)

  - stack : Last In First Out 방식의 자료구조

![stack](./images/stack.png)

  - [그림 출처](https://www.getsuper.ai/post/how-to-learn-data-structure-algorithm-for-data-science-in-2024)

In [46]:
# queue (FIFO)
data = []
data.append('Groucho')
data.append('Chico')
data.append('Karl') 
print(f"{data = }")
item = data.pop(0)
print(f"{data = }, {item = }")
item = data.pop(0)
print(f"{data = }, {item = }")

data = ['Groucho', 'Chico', 'Karl']
data = ['Chico', 'Karl'], item = 'Groucho'
data = ['Karl'], item = 'Chico'

In [47]:
# stack
data = []
data.append('Groucho')
data.append('Chico')
data.append('Karl') 
print(f"{data = }")
item = data.pop()
print(f"{data = }, {item = }")
item = data.pop()
print(f"{data = }, {item = }")

data = ['Groucho', 'Chico', 'Karl']
data = ['Groucho', 'Chico'], item = 'Karl'
data = ['Groucho'], item = 'Chico'

## 그외 list 함수

* remove(value) : 리스트에 저장된 value를 찾아 지운다. 중복 값일  경우 첫번째 나오는 항목만 삭제

* clear() : 리스트의 전체 항목을 지운다.

* index(value) : 리스트에 저장된 항목중 처음으로 찾은 항목의 index를 반환한다.

* in : 리스트안에 항목이 있는지 판단한다. ( `’a’ in a_list` )

* count(value) : 리스트안에 해당 항목이 몇개 있는지 확인

* join(list) : 문자열 함수, 모든 항목을 join 을 호출한 문자열을 구분자로 둔 문자열 로 반환

    * 주의사항 : 리스트 안에 값은 문자열 이어야 함
  
        ```python
        marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
        sep1 = ","
        print(sep1.join(marxes)) # 결과 : Groucho,Chico,Harpo,Zeppo
        sep2 = "*"
        print(sep2.join(marxes)) # 결과 : Groucho*Chico*Harpo*Zeppo
        ```

## Reorder Items with `sort()` or `sorted()`

- sort() : 리스트의 함수로 리스트 자체를 내부적(in place)으로 정렬한다

- sorted() : 파이썬의 내장 함수로 `sequence`의 정렬된 복사본을 반환한다.

- 정렬 기준은 숫자형은 오름차순(ascending), 문자열은 알파벳 순서

- 내림 차순 정렬을 하고 싶다면 `reverse=True`  를 인수로 넣어준다

- 정렬 기준을 바꾸고 싶다면 `key=func()` 을 인수로 넣어준다

In [48]:
marxes = ['Groucho', 'Chico', 'Harpo']
sorted_marxes = sorted(marxes)
print(f"{marxes = }, {sorted_marxes = }")
sorted_marxes = marxes.sort()
print(f"{marxes = }, {sorted_marxes = }")

marxes = ['Groucho', 'Chico', 'Harpo'], sorted_marxes = ['Chico', 'Groucho', 'Harpo']
marxes = ['Chico', 'Groucho', 'Harpo'], sorted_marxes = None

In [49]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']
sorted_marxes = sorted(marxes, reverse = True)
print(f"{marxes = }, {sorted_marxes = }")
sorted_marxes = marxes.sort(reverse = True)
print(f"{marxes = }, {sorted_marxes = }")

marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl'], sorted_marxes = ['Karl', 'Harpo', 'Gummo', 'Groucho', 'Chico']
marxes = ['Karl', 'Harpo', 'Gummo', 'Groucho', 'Chico'], sorted_marxes = None

In [50]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']
sorted_marxes = sorted(marxes, key = len, reverse = True)
print(f"{marxes = }, {sorted_marxes = }")
sorted_marxes = marxes.sort(key = len, reverse = True)
print(f"{marxes = }, {sorted_marxes = }")

marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl'], sorted_marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl'], sorted_marxes = None

In [51]:
tup_marxes = ('Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl')
sorted_marxes = sorted(marxes, reverse = False)
print(f"{tup_marxes = }, {sorted_marxes = }")

#tup_marxes.sort()

tup_marxes = ('Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl'), sorted_marxes = ['Chico', 'Groucho', 'Gummo', 'Harpo', 'Karl']

In [52]:
str_marxes = 'Groucho:Chico:Harpo:Gummo:Karl'
sortec_str = sorted(str_marxes)
print(f"{str_marxes = }, {sortec_str = }")

str_marxes = 'Groucho:Chico:Harpo:Gummo:Karl', sortec_str = [':', ':', ':', ':', 'C', 'G', 'G', 'H', 'K', 'a', 'a', 'c', 'c', 'h', 'h', 'i', 'l', 'm', 'm', 'o', 'o', 'o', 'o', 'o', 'p', 'r', 'r', 'r', 'u', 'u']

## Get Length with `len()`

- python의 내장 함수

- sequence 내의 항목 전체 갯수 반환

In [53]:
marxes = ['Groucho', 'Chico', 'Harpo']
print(f"{len(marxes) = }")

len(marxes) = 3

## Assign with `=`

- 하나의 리스트를 변수 두개에 할당

In [54]:
a = [1, 2, 3]
b = a
print(f"""{id(a) = }, {a}
{id(b) = }, {b = }
""")

a[0] = 'surprise'
print(f"""{id(a) = }, {a}
{id(b) = }, {b = }
""")

b[2] = 'I hate surprise'
print(f"""{id(a) = }, {a}
{id(b) = }, {b = }
""")

id(a) = 4372645952, [1, 2, 3]
id(b) = 4372645952, b = [1, 2, 3]

id(a) = 4372645952, ['surprise', 2, 3]
id(b) = 4372645952, b = ['surprise', 2, 3]

id(a) = 4372645952, ['surprise', 2, 'I hate surprise']
id(b) = 4372645952, b = ['surprise', 2, 'I hate surprise']

## Copy with copy(), list(), or a Slice

- copy() : 리스트 내장함수로 원본 리스트의 내용을 복사해서 새로운 리스트를 만들어서 반환

- list() : sequence를 list로 변환하는 함수

- slice : 원본 리스트를 모두 슬라이스 해서 새로운 리스트로 만든다

In [54]:
a = [1, 2, 3]
b = a.copy()
c = list(a)
d = a[:]
print(f"""{id(a) = },
{id(b) = },
{id(c) = },
{id(d) = }""")

id(a) = 4374699648,
id(b) = 4374732608,
id(c) = 4374683136,
id(d) = 4374682944

In [55]:
a[0] = "list is mutable"
print(f"""{a = },
{b = },
{c = },
{d = }""")

a = ['list is mutable', 2, 3],
b = [1, 2, 3],
c = [1, 2, 3],
d = [1, 2, 3]

## Copy Everything with deepcopy()

- 리스트의 값이 모두 불변(immutable)이면 copy는 제대로 동작한다

- 리스트의 값 중 리스트, 딕셔너리와 같은 가변 객체가 있다면 의도와 다르게 동작한다

In [56]:
a = [1, 2, [8, 9]]
b = a.copy()
c = list(a)
d = a[:]
print(f"""{id(a) = }, {a = }
{id(b) = }, {b = }
{id(c) = }, {c = }
{id(d) = }, {d = }""")

id(a) = 4374678528, a = [1, 2, [8, 9]]
id(b) = 4374481088, b = [1, 2, [8, 9]]
id(c) = 4374690240, c = [1, 2, [8, 9]]
id(d) = 4374688384, d = [1, 2, [8, 9]]

In [57]:
# 2번째 항목은 리스트, 2번째 항목의 리스트의 0번째 항목을 변경
a[2][0] = 10
print(f"""{id(a) = }, {id(a[2]) = }, {a = }
{id(b) = }, {id(b[2]) = }, {b = }
{id(c) = }, {id(c[2]) = }, {c = }
{id(d) = }, {id(d[2]) = }, {d = }""")

id(a) = 4374678528, id(a[2]) = 4374072192, a = [1, 2, [10, 9]]
id(b) = 4374481088, id(b[2]) = 4374072192, b = [1, 2, [10, 9]]
id(c) = 4374690240, id(c[2]) = 4374072192, c = [1, 2, [10, 9]]
id(d) = 4374688384, id(d[2]) = 4374072192, d = [1, 2, [10, 9]]

- a[2]의 값은 리스트이며, 항목을 변경 가능

- 이런 copy를 shallow copy(얕은 복사)라고 한다

- 이 문제를 해결하기 위해서 deep copy(깊은 복사)메서드를 제공

    - 리스트내부의 구조가 복잡하고, 원소의 갯수가 많을수록 시간이 오래 걸린다

In [59]:
import copy
a = [1, 2, [8, 9]]
b = copy.deepcopy(a)
print(f"""{id(a) = }, {id(a[2]) = }, {a = }
{id(b) = }, {id(b[2]) = }, {b = }""")

a[2][0] = 10
print(f"""{id(a) = }, {id(a[2]) = }, {a = }
{id(b) = }, {id(b[2]) = }, {b = }""")

id(a) = 4374682816, id(a[2]) = 4374676672, a = [1, 2, [8, 9]]
id(b) = 4374581120, id(b[2]) = 4374676800, b = [1, 2, [8, 9]]
id(a) = 4374682816, id(a[2]) = 4374676672, a = [1, 2, [10, 9]]
id(b) = 4374581120, id(b[2]) = 4374676800, b = [1, 2, [8, 9]]

## Compare Lists

- 튜플의 compare와 동일하게 동작

## Iterate with `for` and `in`

- 튜플의 for in문과 동일하게 동작

## Iterate Multiple Sequences with zip()

- 여러 시퀀스를 병렬로 순회

- 가장 짧은 리스트가 기준

In [60]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding'] # 4개의 원소가 있지만, days, fruits, drinks는 3개의 원소만 있다.

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
	print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [61]:
english = ('Monday', 'Tuesday', 'Wednesday')
french = ['Lundi', 'Mardi', 'Mercredi']
zip_dictionary = zip(english, french) # 지연 실행 객체
print(f"{type(zip_dictionary) = }, {zip_dictionary = }")
print(list(zip_dictionary))

print(dict(zip_dictionary)) # zip 객체는 한번 소비하면 재사용 불가능

zip_dictionary = zip(english, french)
print(dict(zip_dictionary))

type(zip_dictionary) = <class 'zip'>, zip_dictionary = <zip object at 0x104c0a5c0>
[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
{}
{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

## Create a List with a Comprehension

- List Comprehesion, 지능형 리스트 라고 말한다.

- for in문의 순회 기능이 있는 list의 표현식

In [62]:
# list 1 to 5 
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
print(number_list)

number_list = []
for number in range(1, 6):
    number_list.append(number)
print(number_list)

# 제일 많이 쓰는 방법
number_list = list(range(1, 6))
print(number_list)

[1, 2, 3, 4, 5]

- 리스트 컴프리헨션을 쓰는것이 조금 더 파이써닉한 방식이다.
  
    - `[expression for item in iterable]`
  
    - `[표현식 for 항목 in 순회 가능한 객체]`

In [78]:
number_list = [number for number in range(1,6)]
print(number_list)

[1, 2, 3, 4, 5]

In [63]:

# 표현식 자리에는 연산자, 함수를 사용할수 있다
number_list = [number * number for number in range(1,6)]
print(number_list)

number_list = [str(number * number) for number in range(1,6)]
print(number_list)

[1, 4, 9, 16, 25]
['1', '4', '9', '16', '25']

- 리스트 컴프리헨션은 중첩이 가능하다
  
  ![list_comprehension](./images/list_comp.png)

In [64]:
# (1, 1) ~ (4, 3)까지 출력
# 이중 for 문
rows = range(1,4)
cols = range(1,3)
for row in rows:
	for col in cols:
		print(f"{(row, col, )}")

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [65]:

# 컴프리헨션 사용
rows = range(1,4)
cols = range(1,3)

cells = [(row, col) for row in rows 
                    for col in cols]

for cell in cells:
	print(cell)

# 튜플 언패킹
for row, col in cells:
	print(f"{row = }, {col = }")

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)
row = 1, col = 1
row = 1, col = 2
row = 2, col = 1
row = 2, col = 2
row = 3, col = 1
row = 3, col = 2

## Lists of Lists

- 리스트 안에 리스트를 항목으로 넣을수 있다

In [66]:
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']
all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]

print(all_birds)

[['hummingbird', 'finch'], ['dodo', 'passenger pigeon', 'Norwegian Blue'], 'macaw', [3, 'French hens', 2, 'turtledoves']]

# Tuples Versus Lists


| 특징               | **List**                              | **Tuple**                              |
|--------------------|---------------------------------------|----------------------------------------|
| **가변성 (Mutability)** | 가변적 (요소를 변경, 추가, 삭제 가능)     | 불변적 (요소를 변경, 추가, 삭제 불가능)  |
| **문법**            | `[ ]` 대괄호 사용                      | `( )` 소괄호 사용                      |
| **성능**            | 요소 추가 및 삭제에 시간이 더 소요됨         | 불변성이므로 성능이 더 좋음                |
| **메모리 사용**      | 더 많은 메모리를 사용함                   | 더 적은 메모리를 사용함                   |
| **용도**            | 데이터가 자주 변경될 때 사용               | 데이터가 고정되거나 변경되지 않을 때 사용  |
| **내장 메서드**      | 다양한 메서드 제공 (`append`, `remove` 등) | 제한된 메서드 제공 (`count`, `index`만 지원) |
| **복사**            | 얕은 복사 시 원본 영향 가능               | 얕은 복사 시 원본 영향 없음                |

# Tuples Are Not Just Immutable Lists

- 불변 리스트

- 필드명이 없는 레코드
  
    - 튜플의 각 항목은 레코드의 필드(attribute value) 하나를 의미
  
    ![attribute](./images/attr.png)

    - tuple의 항목 순서가 의미를 갖게 된다.

    - unpacking 을 활용한 데이터 처리

In [68]:
lax_coordinates = (33.9425, -118.408056) # LA 국제 공항의 위도와 경도
latitude, longitude = lax_coordinates # 튜플 언패킹
print(f"{latitude = }, {longitude = }")

# 도쿄에 대한 데이터
# 도시이름, 측정연도, 백만단위 인구수, 인구변화율, 제곰킬로미터 단위 면적
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
print(f"{city = }, {year = }, {pop = }, {chg = }, {area = }") 

# 국가코드와 여권번호의 튜플을 저장하는 리스트
traveler_ids = [
	('USA', '31195855'), 
	('BRA', 'CE342567'), 
	('ESP', 'XDA205856')
]
for country_code, passport_number in sorted(traveler_ids):
	print(f"{country_code = }, {passport_number = }")

latitude = 33.9425, longitude = -118.408056
city = 'Tokyo', year = 2003, pop = 32450, chg = 0.66, area = 8014
country_code = 'BRA', passport_number = 'CE342567'
country_code = 'ESP', passport_number = 'XDA205856'
country_code = 'USA', passport_number = '31195855'
                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

In [69]:
# 리스트와 튜플로 데이터 저장
# 도시별 철도 정보
# 도시 이름, 국가 코드, 평균 이용자 수, 위치 좌표의 쌍
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
# 언패킹하고 필요없는 값은 _로 할당해서 사용하지 않는다.
for name, _, _, (lat, lon) in metro_areas:
	if lon <= 0:  # 서반구의 값
		print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

## Unpacking Sequences and Iterables

In [70]:
# 튜플의 언패킹
lax_coordinates = (33.9425, -118.408056) # LA 국제 공항의 위도와 경도
latitude, longitude = lax_coordinates # 튜플 언패킹
print(f"{latitude = }, {longitude = }")

a, b, *rest = range(5)
print(f"{a = }, {b = }, {rest = }")

a, b, *rest = range(3)
print(f"{a = }, {b = }, {rest = }")

a, b, *rest = range(2)
print(f"{a = }, {b = }, {rest = }")

a, *body, c, d = range(5)
print(f"{a = }, {body = }, {c = }, {d = }")

*head, b, c, d = range(5)
print(f"{head = }, {b = }, {c = }, {d = }")

latitude = 33.9425, longitude = -118.408056
a = 0, b = 1, rest = [2, 3, 4]
a = 0, b = 1, rest = [2]
a = 0, b = 1, rest = []
a = 0, body = [1, 2], c = 3, d = 4
head = [0, 1], b = 2, c = 3, d = 4

# Builtin function : Sum

- [Sum 함수 설명문서](https://docs.python.org/3/library/functions.html#sum)

- 이터러블의 시작과 항목을 왼쪽에서 오른쪽으로 합산하여 합계를 반환합니다.

- 이터러블의 항목은 일반적으로 숫자이며, 시작 값은 문자열이 될 수 없습니다.

In [71]:
# 1~100까지의 합
a = list(range(1, 101)) 
print(f"{sum(a) = }")               # 리스트로 변환해서 sum 함수를 사용
print(f"{sum(tuple(a)) = }")        # 튜플로 변환해서 sum 함수를 사용
print(f"{sum(range(1, 101)) = }")   # range 객체를 사용

str_a = "".join(map(str, a))        # 리스트를 문자열로 변환
print(f"{str_a = }")
# 문자열은 sum을 사용할 수 없다.
# print(f"{sum(str_a) = }")
# 다만 map 함수, 또는 list comprehension을 이용해서 리스트로 변환하면 가능하다.
print(f"{sum(map(int, str_a)) = }") # map 함수를 사용해서 문자열을 숫자로 변환하고 sum 함수를 사용
print(f"{sum([int(num) for num in str_a]) = }") # list comprehension을 사용해서 문자열을 숫자로 변환하고 sum 함수를 사용

sum(a) = 5050
sum(tuple(a)) = 5050
sum(range(1, 101)) = 5050
str_a = '123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100'
sum(map(int, str_a)) = 901
sum([int(num) for num in str_a]) = 901
<class 'generator'>
sum(number_thing) = 5050

In [73]:
# There Are No Tuple Comprehensions
# generator도 동작한다.
number_thing = (number for number in range(1, 101))
print(type(number_thing))
print(f"{sum(number_thing) = }")

<class 'generator'>
sum(number_thing) = 5050